<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 mb-3" style="border-bottom: solid 1px #b1b1b1;">
            <div class="footer-title mt-3 mb-3">PLATAFORMA DE ATENCIÓN A LA CIUDADANÍA</div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col col-12 col-sm-12 col-md-3 footer-panel">
            <div class="footer-panel-title mb-3">CANAL VIRTUAL</div>
            <ul class="footer-panel-list">
                <li class="mb-3">Mesa de Partes:<br><i class="fa fa-envelope-o" aria-hidden="true"></i> consultatramite@minam.gob.pe</li>
                <li class="mb-3">Orientación a la Ciudadanía:<br><i class="fa fa-envelope-o" aria-hidden="true"></i> atencion-ciudadania@minam.gob.pe</li>
            </ul>
        </div>
        <div class="col col-12 col-sm-12 col-md-3 footer-panel">
            <div class="footer-panel-title mb-3"></div>
            <ul class="footer-panel-list">
                <li class="mb-3">Biblioteca Ambiental:<br><i class="fa fa-envelope-o" aria-hidden="true"></i> biam@minam.gob.pe</li>
            </ul>
        </div>
        <div class="col col-12 col-sm-12 col-md-3 footer-panel">
            <div class="footer-panel-title mb-3">CANAL TELEFÓNICO</div>
            <ul class="footer-panel-list">
                <li class="mb-3">Horario de atención:<br>lunes a viernes de 8:30 a.m. a 4:30 p.m.</li>
                <li class="mb-3">Central telefónica:<br><i class="fa fa-phone" aria-hidden="true"></i> (511)6116000</li>
            </ul>
        </div>
        <div class="col col-12 col-sm-12 col-md-3 footer-panel">
            <div class="footer-panel-title mb-3"></div>
            <ul class="footer-panel-list">
                <li class="mb-3">Línea gratuita:<br><i class="fa fa-phone" aria-hidden="true"></i> 0800-00-558</li>
            </ul>
        </div>
    </div>
</div>