<app-header [type]="'default'"></app-header>

<div class="page-content">
    <div *ngIf="showRecoverPassword" class="container">
        <div class="row mt-4">
            <div class="col col-12 col-sm-12">
                <h5 class="text-center text-white p-4 title-passwordrecover">RECUPERAR CONTRASEÑA</h5>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col col-12 col-sm-12">
                <small class="info">Ingrese su número de documento para enviar la nueva contraseña a su correo registrado</small>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col col-12 col-sm-12 mb-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        Número de documento <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-8" style="display: flex;">
                        <!-- <select class="form-control mr-2">
                            <option selected disabled value="">seleccionar...</option>
                            <option value="dni">DNI</option>
                        </select> -->
                        <input type='tel' mask="00000000000" class="form-control ml-2 mr-2" [(ngModel)]="userProfile.username" placeholder="Usuario">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end mt-3 mb-5">
            <div class="actions-btn-form pr-3">
                <a href="{{ _win.relativePath }}/login" class="btn btn-primary btn-sm pt-2 pb-2 pl-4 pr-4 ml-2"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Regresar</a>
                <button type="button" class="btn btn-primary btn-sm pt-2 pb-2 pl-5 pr-5 ml-2 btn-has-preloader" (click)="recoverPassword()">
                    ENVIAR
                    <app-preloader-widget *ngIf="recoverProccess" [type]="'button'"></app-preloader-widget>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!showRecoverPassword" class="container">
        <div class="row mt-4">
            <div class="col col-12 col-sm-12">
                <h5 class="text-center text-white p-4 title-passwordrecover">RECUPERAR CONTRASEÑA</h5>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="actions-btn-form pr-3">
                <button type="button" class="btn btn-primary btn-sm pt-2 pb-2 pl-4 pr-4 ml-2 btn-has-preloader" (click)="recoverPasswordConfirm()">
                    Confirmar <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <app-preloader-widget *ngIf="recoverProccess" [type]="'button'"></app-preloader-widget>
                </button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>