app-passwordrecover-page {
    .title-passwordrecover {
        background-color: $app_green;
    }

    .info {
        border-bottom: solid 1px;
        font-weight: 600;
        color: $app_txt_dark;
    }

    .actions-btn-form {
        > a:nth-child(1) {
            background-color: $app_gray_light!important;
            box-shadow: none!important;
            border: none!important;
            color: $app_gray_dark!important;
        }
        > a:nth-child(2) {
            background-color: $app_green!important;
            box-shadow: none!important;
            border: none!important;
            color: #ffffff!important;
        }
    }
}