// PRELOADER
#preloader-page {
    position: fixed;
    z-index: 11000;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#ffffff, 0.7);
}

#ligthbox {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000000, 0.5);

    .panel {
        display: table;
        margin: 10% auto;
        width: 35%;
        background-color: #ffffff;
    }
}

.msg-field {
    display: none;
}

.page-content {
    display: flex;
    flex-direction: row;
    min-height: 40rem;

    .left-content {
        width: 60px;
        background-color: $app_dark;
    }

    .right-content {
        width: calc(100% - 60px);

        .content-title {
            font-size: 1.2em;
            font-weight: bold;
            color: $app_blue;
        }
    }
}

nz-tree-select {
    width: 90%!important;
}

.ant-select-selector {
    display: block!important;
    width: 100%!important;
    // height: calc(1.5em + 0.75rem + 2px)!important;
    // padding: 0.375rem 0.75rem!important;
    font-size: 1rem!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    color: #000000!important;
    background-color: #fff!important;
    background-clip: padding-box!important;
    border: 1px solid #ced4da!important;
    border-radius: 0.25rem!important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out!important;
}

ngx-dropzone {
    height: 220px!important;
    border: 3px dashed $app_blue!important;
}