// COLORS CLASS
.app-txt-dark {
    color: $app_txt_dark!important;
}

// TOASTER
.toast {
    background-color: #030303;
}
.toast-info {
    background-color: #3276b1;
}
.toast-info2 {
    background-color: #2f96b4;
}
.toast-error {
    background-color: #f00004;
}
.toast-success {
    background-color: #51a351;
}
.toast-warning {
    background-color: #f89406;
}