// COLORS
$app_red: #BF0808;
$app_green: #76b82a;
$app_yellow: #ECC501;
$app_blue: #008bd2;
$app_dark: #26292E;
$app_gray_dark: #58595b;
$app_gray_light: #ECECEC;

$app_txt_dark: #787878;
$app_txt_light: #b1b1b1;